# **Tratando dados string para o Modelo de Machine Learning**

Vamos tratar os dados string de duas formas, fazendo OneHotEncoding e com Variáveis Dummys.

In [1]:
# importando pandas
import pandas as pd

In [2]:
# Comando para visualizar todas as colunas do arquivo
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
# Carregar o arquivo e armazena-lo como um DataFrame do Pandas
df_dados = pd.read_excel(r'C:/Users/Brian/Documents/Visual Studio Code/data engineer/tratamento_string_python/dados.xlsx')

In [4]:
# Verificar a quantidade de linhas e colunas do arquivo
df_dados.shape

(986, 7)

In [5]:
# Verificar as 5 linhas iniciais do DataFrame
df_dados.head()

,MODELO,KM-LITRO,CILINDROS,PESO(KG),CAVALOS,TRANSMISSAO,PAIS
0,LABORGUINI,3.0,12,1200,700,AUTOMATICO,BRASIL
1,LABORGUINI,3.0,12,1200,700,AUTOMATICO,EUA
2,LABORGUINI,3.0,12,1200,700,AUTOMATICO,ESPANHA
3,FERRARI,3.0,12,1400,640,AUTOMATICO,CANADA
4,ASTON MARTIN,3.5,10,1600,620,AUTOMATICO,INGLATERRA

In [6]:
# Verificar informações sobre os dados(tipo de variáveis, variáveis, quantidade de registros, etc)
df_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MODELO       986 non-null    object
 1   KM-LITRO     984 non-null    float64
 2   CILINDROS    986 non-null    int64
 3   PESO(KG)     986 non-null    int64
 4   CAVALOS      986 non-null    int64
 5   TRANSMISSAO  986 non-null    object
 6   PAIS         986 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 54.1+ KB

In [7]:
# Agrupar dados e contar registros
df_dados.groupby(['MODELO']).size()

MODELO
ASTON MARTIN     66
BMW X1           30
BMW X5           36
COROLLA          36
CORSA            42
CRETA            36
FERRARI          54
GOL              24
HB20             30
HONDA FIT        66
JEEP COMPASS     36
JEEP RENEGADE    24
LABORGUINI       50
MERCEDES SL80    66
MOBI             66
PAJERO           36
PALIO            66
PARATI           24
PASSAT           66
SAVEIRO          42
UNO              66
VECTRA           24
dtype: int64

In [8]:
df_dados.groupby(['TRANSMISSAO']).size()

TRANSMISSAO
AUTOMATICO    536
MANUAL        450
dtype: int64

In [9]:
df_dados.groupby(['PAIS']).size()

PAIS
ALEMANHA      99
AUSTRALIA     98
BELGICA       98
BRASIL        99
CANADA        99
ESPANHA       99
EUA           99
HOLANDA       98
INGLATERRA    99
NORUEGA       98
dtype: int64

# **1° Vamos fazer o tratamento com variáveis Dummys**

Quando estamos fazendo o tratamento dos dados para criação de um modelo de Machine Learning ou IA precisamos deixar todos os dados como números.

Para este processo utilizamos variáveis Dummys

In [10]:
# Convertir campos categoricos para variáveis Dummys
df_dados = pd.get_dummies(df_dados)

In [11]:
# Verificar as 10 linhas iniciais do DataFrame
df_dados.head(10)

,KM-LITRO,CILINDROS,PESO(KG),CAVALOS,MODELO_ASTON MARTIN,MODELO_BMW X1,MODELO_BMW X5,MODELO_COROLLA,MODELO_CORSA,MODELO_CRETA,MODELO_FERRARI,MODELO_GOL,MODELO_HB20,MODELO_HONDA FIT,MODELO_JEEP COMPASS,MODELO_JEEP RENEGADE,MODELO_LABORGUINI,MODELO_MERCEDES SL80,MODELO_MOBI,MODELO_PAJERO,MODELO_PALIO,MODELO_PARATI,MODELO_PASSAT,MODELO_SAVEIRO,MODELO_UNO,MODELO_VECTRA,TRANSMISSAO_AUTOMATICO,TRANSMISSAO_MANUAL,PAIS_ALEMANHA,PAIS_AUSTRALIA,PAIS_BELGICA,PAIS_BRASIL,PAIS_CANADA,PAIS_ESPANHA,PAIS_EUA,PAIS_HOLANDA,PAIS_INGLATERRA,PAIS_NORUEGA
0,3.0,12,1200,700,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False
1,3.0,12,1200,700,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False
2,3.0,12,1200,700,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False
3,3.0,12,1400,640,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False
4,3.5,10,1600,620,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False
5,4.5,8,1700,480,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False
6,12.0,4,1700,116,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False
7,11.0,4,1700,118,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True
8,13.5,4,1700,118,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False
9,14.0,4,1700,118,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False

In [12]:
# Verificando o novo shape dos dados
df_dados.shape

(986, 38)

# **2° Vamos fazer o tratamento utilizando o OneHotEncoding do Scikit Learn**

In [13]:
# Carregar o arquivo original novamente
df_dados = pd.read_excel(r'C:/Users/Brian/Documents/Visual Studio Code/data engineer/tratamento_string_python/dados.xlsx')

In [14]:
# Verificamos o shape dos dados
df_dados.shape

(986, 7)

In [15]:
# Verificamos o tipo de dados
df_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MODELO       986 non-null    object
 1   KM-LITRO     984 non-null    float64
 2   CILINDROS    986 non-null    int64
 3   PESO(KG)     986 non-null    int64
 4   CAVALOS      986 non-null    int64
 5   TRANSMISSAO  986 non-null    object
 6   PAIS         986 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 54.1+ KB

In [16]:
# Vamos importar o pacote do Scikit Learn para fazer o tratamento dos dados
from sklearn.preprocessing import LabelEncoder

In [17]:
# Cria o encoder e aplica OneHotEncoder
lb = LabelEncoder()

for var in ['PAIS','TRANSMISSAO','MODELO']:
    df_dados[var] = lb.fit_transform(df_dados[var])

In [18]:
# Verificamos o shape dos dados
df_dados.shape

(986, 7)

In [19]:
# Verificar as 10 linhas iniciais do DataFrame
df_dados.head(10)

   MODELO  KM-LITRO  CILINDROS  PESO(KG)  CAVALOS  TRANSMISSAO  PAIS
0      12       3.0         12      1200      700            0     3
1      12       3.0         12      1200      700            0     6
2      12       3.0         12      1200      700            0     5
3       6       3.0         12      1400      640            0     4
4       0       3.5         10      1600      620            0     8
5      13       4.5          8      1700      480            0     0
6       9      12.0          4      1700      116            0     1
7      16      11.0          4      1700      118            1     9
8      20      13.5          4      1700      118            1     2
9      14      14.0          4      1700      118            1     7